/* GLOBAL */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#content {
  flex: 1;
  padding: 20px;
}

#footer {
  padding: 20px;
}

.header {
  align-content: center;
  text-align: center;
  margin: 50px auto;
}

section {
  margin: 40px auto;
  width: 95%;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  section {
    width: 60%;
  }
}

@media only screen and (min-width: 1600px) {
  section {
    width: 700px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px !important;
  }
}
